mixin lazyImg(file)
  img.image.lazy(
    src="img/flow-placeholder/" + file + ".jpg"
    data-src="img/flow/" + file + ".jpg"
    alt=file
  )

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#151724")
    link(rel="icon" href="icon.ico?v=1")

    style.
      body {
        background: #111;
        color: #eee;
        font-family: 'Lato', sans-serif;
        transition: background 1s;
      }

    link(rel="stylesheet" href="css/index.css")
    link(link href="https://fonts.googleapis.com/css?family=Lato:400|Raleway:700" rel="stylesheet")

    title Yuna - Anime Player and List Manger

  body
    header
      a.item(href="#features") Features
      img.logo(src="img/logo.png")
      a.item.align-left(href="#video") Download
      a.github(
        href="https://github.com/BeeeQueue/yuna"
        target="_blank"
        rel="noopener"
        title="Source on GitHub"
      )
        img(src="img/github.svg" alt="github")

    section#video
      video(src="video/flow.mp4?v=1" autoplay=isProd loop="true" muted="true")

      button#download(onclick="location.href = 'https://github.com/BeeeQueue/yuna/releases'")
        | Download

      a(href="https://github.com/BeeeQueue/yuna/releases" target="_blank" rel="noopener").
        Release notes and more downloads

    section#features
      h1.heading Features

      .section
        .content-container
          .content
            h3 Watch anime and update your List from the same place!
            p With Crunchyroll integration you can watch any show available, with automatic list updating when you finish an episode!
        .image-container
          +lazyImg("anime")

      .section
        .content-container
          .content
            h3 Easily keep track of what to watch next!
            p Add shows to your Queue to quickly resume from where you left off!
            p Easily know what to watch next with easy importing from your List!
        .image-container
          +lazyImg("queue")

      .section
        .content-container
          .content
            h3 Configurable spoiler hiding!
            p Do you obsess over spoilers like a certain friend of mine?
            p Hide info until you've already seen it in the show!
        .image-container
          +lazyImg("anime-spoiler")

      .section
        .content-container
          .content
            h3 Quickly edit your List without opening AniList!
            p insert text here
        .image-container
          +lazyImg("list")

    footer
      a(href="https://github.com/BeeeQueue/yuna-website" target="_blank" rel="noopener")
        | This website is hosted using GitHub Pages
        img.github(src="img/github.svg" alt="github")

    script(src="js/index.js")

    //- Analytics
    if (isProd)
      script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-87690373-2')
      script.
        window.dataLayer = window.dataLayer || []
        function gtag(){dataLayer.push(arguments)}
        gtag('js', new Date())
        gtag('config', 'UA-87690373-2')
