mixin lazyImg(file)
  img.image.lazy(
    src="img/flow-placeholder/" + file + ".jpg"
    data-src="img/flow/" + file + ".jpg"
    alt=file
  )

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#151724")
    link(rel="icon" href="icon.ico?v=1")

    include ./templates/meta

    style.
      body {
        background: #111;
        color: #eee;
        font-family: 'Lato', sans-serif;
        transition: background 1s;
      }

    link(rel="stylesheet" href="css/index.css")
    link(link href="https://fonts.googleapis.com/css?family=Lato:400|Raleway:700" rel="stylesheet")

    title Yuna - Anime Player and List Manager

  body
    header
      a.item(href="#features") Features
      img.logo(src="img/logo.png" alt="logo")
      a.item.align-left(href="#video") Download
      a.github(
        href="https://github.com/BeeeQueue/yuna"
        target="_blank"
        rel="noopener"
        title="Source on GitHub"
      )
        img(src="img/github.svg" alt="github")

    section#video
      h1.description.
        Anime Player and List Manager

      .support
        .providers
          div Streaming services:
          .container
            a(href="https://crunchyroll.com" target="_blank" noref noopener title="Crunchyroll")
              img(src="img/providers/crunchyroll.svg")
            a(href="https://hidive.com" target="_blank" noref noopener title="HIDIVE")
              img(src="img/providers/hidive.svg")

        .providers
          div List managers:
          .container
            a(href="https://anilist.co" target="_blank" noref noopener title="AniList")
              img(src="img/anilist.svg")
            a(href="https://simkl.com" target="_blank" noref noopener title="Simkl")
              img(src="img/simkl.svg")

      video(src="video/flow.mp4?v=1.4" autoplay=isProd loop="true" muted="true")

      .download-container
        .platforms
          img(src="img/windows.svg", alt="win")
          img(src="img/mac.svg", alt="mac")
          img(src="img/linux.svg", alt="linux")

        button#download(onclick="location.href = 'https://github.com/BeeeQueue/yuna/releases'")
          p Download
          p.version

        a(href="https://github.com/BeeeQueue/yuna/releases" target="_blank" rel="noopener").
          Release notes and more downloads

    section#features
      h1.heading Features

      .section
        .content-container
          .content
            h3 Watch anime and update your List from the same place!
            p With streaming service integrations you can watch any show available, with automatic list updates when you finish an episode!
        .image-container
          +lazyImg("anime")

      .section
        .content-container
          .content
            h3 Easily keep track of what to watch next!
            p Add shows to your Queue to quickly resume from where you left off!
            p Easily know what to watch next with easy importing from your List!
        .image-container
          +lazyImg("queue")

      .section
        .content-container
          .content
            h3 Configurable spoiler hiding!
            p Do you obsess over spoilers like a certain friend of mine?
            p Hide info until you've already seen it in the show!
        .image-container
          +lazyImg("anime-spoiler")

      .section
        .content-container
          .content
            h3 Quickly edit your List without without leaving the program!
            p Change statuses with only one click!
        .image-container
          +lazyImg("list")

    footer
      a(href="https://github.com/BeeeQueue/yuna-website" target="_blank" rel="noopener")
        | This website is hosted using GitHub Pages
        img.github(src="img/github.svg" alt="github")

    script(src="js/index.js")
    include ./templates/analytics
